.App {
  text-align: center;
  background-color: #dbce23;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d23bba' fill-opacity='0.45'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
}

h1 {
  margin: 0;
  padding-top: 200px;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

.letters {
  margin: 1em auto;
  font-family: nimbus-sans, sans-serif;
}
.letters span {
  font-size: 60px;
  display: table-cell;
  padding: 5px;
  line-height: 100px;
  animation: jumb 2s infinite;
}
@keyframes jumb {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.letters span:nth-child(1) {
  animation-delay: 0s;
}
.letters span:nth-child(2) {
  animation-delay: 0.1s;
}
.letters span:nth-child(3) {
  animation-delay: 0.2s;
}
.letters span:nth-child(4) {
  animation-delay: 0.3s;
}
.letters span:nth-child(5) {
  animation-delay: 0.4s;
}
.letters span:nth-child(6) {
  animation-delay: 0.5s;
}
.letters span:nth-child(7) {
  animation-delay: 0.6s;
}
.letters span:nth-child(8) {
  animation-delay: 0.7s;
}
.letters span:nth-child(9) {
  animation-delay: 0.8s;
}
.letters span:nth-child(10) {
  animation-delay: 0.9s;
}
.letters span:nth-child(11) {
  animation-delay: 1s;
}
